<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mvc.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.mvc.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.mvc.controller.Change_Settings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/Change_Settings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.mvc.controller.admin.Add_new_Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/Add_new_Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgetPassServlet</servlet-name>
    <servlet-class> com.mvc.controller.ForgetPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassServlet</servlet-name>
    <url-pattern>/forget_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewUserServlet</servlet-name>
    <servlet-class>com.mvc.controller.admin.View_User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserServlet</servlet-name>
    <url-pattern>/View_User</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactUsServlet</servlet-name>
    <servlet-class> com.mvc.controller.ContactUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsServlet</servlet-name>
    <url-pattern>/Contact_Us</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewDetailsServlet</servlet-name>
    <servlet-class> com.mvc.controller.View_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailsServlet</servlet-name>
    <url-pattern>/View_Leave_Details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.mvc.controller.admin.Update_Users_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/Update_Leaves_User</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewUserAdminServlet</servlet-name>
    <servlet-class>com.mvc.controller.admin.ReviewUpdatedLeavesFetcher_Admin_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewUserAdminServlet</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewReviewServlet</servlet-name>
    <servlet-class>com.mvc.controller.superAdmin.View_Review_Leaves</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReviewServlet</servlet-name>
    <url-pattern>/ViewReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RejectLeaveServlet</servlet-name>
    <servlet-class>com.mvc.controller.superAdmin.Delete_Review_Leaves</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectLeaveServlet</servlet-name>
    <url-pattern>/DeleteReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveLeaveServlet</servlet-name>
    <servlet-class>com.mvc.controller.superAdmin.ApproveAllLeaves</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveLeaveServlet</servlet-name>
    <url-pattern>/ApproveAllLeaves</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserLeaveServlet</servlet-name>
    <servlet-class>com.mvc.controller.superAdmin.DeleteUserLeavesSA_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserLeaveServlet</servlet-name>
    <url-pattern>/DeleteUserLeavesSA_Servlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ReviewUserLeaveAdminServlet</servlet-name>
    <servlet-class>com.mvc.controller.admin.ReviewUpdatedLeavesDeleter_Admin_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewUserLeaveAdminServlet</servlet-name>
    <url-pattern>/ReviewUpdatedLeavesDeleter_Admin_Servlet</url-pattern>
  </servlet-mapping>
  
</web-app>